---
import type { HTMLAttributes } from "astro/types";
import Link from "../Link.astro";
import { Image } from "astro:assets";

type Props = HTMLAttributes<"div"> & {
  title: string;
  tagline: string;
  imageUrl: string;
  github_url: string;
  live_url: string;
  role: string;
  status: string;
  iconEmoji: string;
  technologies: string[];
  modalId: string;
  showUpperBorder: boolean;
  project_image: ImageMetadata;
};

const {
  title,
  tagline,
  imageUrl,
  github_url,
  live_url,
  class: className,
  iconEmoji,
  technologies,
  modalId,
  showUpperBorder,
  project_image,
  ...props
} = Astro.props;
---

<div
  class={`flex flex-col md:flex-row md:justify-between gap-1 pr-3 pt-3 pb-4 hover:cursor-pointer ${showUpperBorder ? "border-t border-[#c9c9c9]" : ""} hover:bg-gray-50`}
  data-modalTrigger={modalId}
  {...props}
>
  <div class="flex flex-col md:flex-row gap-4 w-full">
    {console.log("project_image", project_image)}
    {
      project_image ? (
        <Image
          src={project_image}
          alt={title}
          class="object-contain max-h-[120px] w-auto h-[120px] md:h-[120px] shadow-sm"
          style="max-width: 100%;"
        />
      ) : (
        <div class="w-[50px] h-[50px] shrink-0 text-[40px] flex items-center justify-center">
          {iconEmoji}
        </div>
      )
    }
    <div class="flex flex-col w-full">
      <div class="flex md:flex-row justify-between gap-2 flex-grow">
        <div class="flex items-center">
          <p class="text-[18px] font-sans font-medium source-serif-4-regular">
            {title}
          </p>
        </div>
        <div class="flex flex-row gap-2 shrink-0">
          {
            github_url && (
              <div onclick="event.stopPropagation()">
                <Link href={github_url} fontSize="15px" linkType="external">
                  github
                </Link>
              </div>
            )
          }
          {
            live_url && (
              <div onclick="event.stopPropagation()">
                <Link href={live_url} fontSize="15px" linkType="external">
                  live link
                </Link>
              </div>
            )
          }
        </div>
      </div>
      <p class="text-[15px] source-sans-3-light">
        {tagline}
      </p>
      <div class="flex flex-row gap-1 flex-wrap mt-5">
        {
          technologies.map((technology) => (
            <p class="border border-slate-300 leading-6 py-0 px-2 rounded-sm text-[12px] source-sans-3-light truncate">
              {technology}
            </p>
          ))
        }
      </div>
    </div>
  </div>
</div>
