---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.isHidden)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
console.log("posts", posts);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div
      class="max-w-[880px] px-[20px] mx-auto lg:border-r lg:border-l border-gray-300 border-dashed"
    >
      <Header />
      <div
        class="flex flex-row flex-wrap items-center gap-2 source-serif-4-super-light leading-10 text-[30px] md:text-[40px] min-h-[300px] md:min-h-[400px]"
      >
        Welcome to my <span class="source-serif-4-regular-italic"
          >thought space</span
        >
      </div>
      <main class="w-full">
        <section>
          <ul class="flex flex-wrap gap-2 md:gap-4 list-none m-0 p-0">
            {
              posts.map((post, i) => (
                <li
                  class={`w-full text-center md:text-left pt-4 ${i != 0 ? "border-t border-[#c9c9c9]" : ""}`}
                >
                  <a
                    href={`/blog/${post.id}/`}
                    class="flex flex-row gap-4 no-underline transition duration-200 ease-in-out group"
                  >
                    {post.data.heroImage && (
                      <Image
                        width={150}
                        src={post.data.heroImage}
                        alt=""
                        class={`shrink-0 mb-2 rounded-[12px] group-hover:shadow-[var(--box-shadow)]`}
                      />
                    )}
                    <div class="flex flex-col gap-2 flex-grow">
                      <div class="flex flex-row gap-4 justify-between flex-wrap">
                        <h4
                          class={`m-0 text-[18px] font-sans font-medium source-serif-4-regular leading-none ""}`}
                        >
                          {post.data.title}
                        </h4>
                        <p class="date m-0 text-[rgb(var(--gray))] group-hover:text-[rgb(var(--accent))]">
                          <FormattedDate date={post.data.pubDate} />
                        </p>
                      </div>
                      <p class="text-[15px] source-sans-3-light">
                        {post.data.description}
                      </p>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
